section {
  min-height: 80vh;
  min-width: 80vw;

  max-width: 100vw;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-mobile-display {
  display: block;
}

// extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .no-mobile-display {
    display: none;
  }

  section {
    // scroll-snap-align: start; // where to snap
    flex-direction: column;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.member {
  opacity: 0;
  transition: all 0.5s ease-out;
  margin: 0.5rem;
  :hover {
    opacity: 0.8;
  }
}

.member.is-visible {
  opacity: 1;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 50vw;

  // media queries

  // extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    max-width: 100vw;
  }

  // small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    max-width: 100vw;
  }

  // medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 100vw;
  }
}
