$primary: #ffd5fb;
$secondary: #ff8df4;

.split {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  img {
    width: 25%;
    padding: 10px;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    img {
      width: 50%;
    }
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.page {
  a {
    text-decoration: none;

    color: $primary;

    transition: all 0.2s ease-in-out;

    &:hover {
      color: $secondary;
    }
  }
}
.socials {
  margin-top: 10px;
  .social {
    a {
      margin: auto;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media screen and (max-width: 768px) {
        flex-direction: row;
      }
    }

    .icon {
      margin: 0 10px;
    }
  }
}
