@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@layer base {
  body {
    @apply font-[RaleWay];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

:root {
  --deep-dark-blue: #ffffff00;
  --dark-blue: #0a0c2f;
  --t-pink: #ff66ff;
  --t-blue: #66faff;
  --l-red: #d62900;
  --l-orange: #ff9b55;
  --l-white: #ffffff;
  --l-pink: #d461a6;
  --l-purple: #a50062;
}

::selection {
  color: white;
  background: #ff66ff50;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: var(--dark-blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--t-blue);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--deep-dark-blue);
}
